.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub
**/*ssh*
**/*agent*
**/*.pub
**/*.pem
**/*.key